body {background-color: black; 
    color: white;
    font-size: 23px;
}
.center {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; border-radius: 8px;}
div {text-align: center;}
.headerfooter {text-align: center;}
h1, h2 {font-family: "lobster", cursive;}
a {color: red; text-decoration: none;}
ul {line-height: 41.4px;}